.example-form-field {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

.buttons-section {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.edit-tags {
  padding: 10px;
}
